/* Theme */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bg-color: #181818;
  --bg-light: #212121;
  --fg-color: #f2f2f2;
  --yellow: #f8b91a;
  --orange: #ffb400;
  --grey: #8e8e8e;
}

/* Base Styles */

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  padding: 1rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  position: relative;
  font-size: 2.4rem;
}

h2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 15px;
  width: 6rem;
  border-bottom: 3px solid var(--yellow);
  border-radius: 5px;
}

a {
  color: var(--yellow);
  text-decoration: none;
}

footer {
  margin: 3.2rem 0;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }
}
