/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #1d1e22;
  color: #e9f6ff;
}
.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1%;
}
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-header .header-title {
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  -ms-flex-item-align: center;
  align-self: center;
}
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-content .site-search {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-content .site-search .search-input {
  -ms-flex-item-align: center;
  background-color: #264440;
  color: #55706d;
  border-radius: 40px;
  padding: 10px 30px;
  width: 70%;
  border: 5px solid transparent;
  font-weight: bold;
  -webkit-transition: all 0.5s, border 0.25s 0.5s, -webkit-box-shadow 0.1s 0.5s;
  transition: all 0.5s, border 0.25s 0.5s, -webkit-box-shadow 0.1s 0.5s;
  transition: all 0.5s, border 0.25s 0.5s, box-shadow 0.1s 0.5s;
  transition: all 0.5s, border 0.25s 0.5s, box-shadow 0.1s 0.5s, -webkit-box-shadow 0.1s 0.5s;
  outline: none;
}
.main-content .site-search .search-input::-webkit-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #B8B3AA;
}
.main-content .site-search .search-input:-ms-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #B8B3AA;
}
.main-content .site-search .search-input::-ms-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #B8B3AA;
}
.main-content .site-search .search-input::placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #B8B3AA;
}
.main-content .site-search .search-input:focus {
  background: #3E4F4D;
  color: #FFE7A1;
  width: 85%;
  border: 10px solid #346B63;
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.main-content .site-search .search-input:focus::-webkit-input-placeholder {
  color: #FFE7A1;
}
.main-content .site-search .search-input:focus:-ms-input-placeholder {
  color: #FFE7A1;
}
.main-content .site-search .search-input:focus::-ms-input-placeholder {
  color: #FFE7A1;
}
.main-content .site-search .search-input:focus::placeholder {
  color: #FFE7A1;
}
.result-dialog {
  background: #344155e6;
  top: 10%;
  width: 90%;
  height: 80%;
  padding: 5px;
  border-radius: 10px;
}
.result-dialog::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.75);
}
.result-dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}
.result-dialog .dialog-x {
  position: absolute;
  top: 1%;
  right: 2%;
  color: #e9f6ff;
  font-size: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 5px;
  z-index: 1;
}
.result-dialog .dialog-x:hover {
  font-weight: bold;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (min-width: 1024px) {
  .result-dialog .dialog-x {
    right: 1.25%;
    font-size: 4rem;
  }
}
.result-dialog .dialog-iframe {
  opacity: 0.8;
}
