/* Theme */

:root {
  --bg-color: #181818;
  --fg-color: #f2f2f2;
  --yellow: #f8b91a;
}

/* Base Styles */

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  height:2000px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:sticky;
  top:0px;
  background-color: rgba(24 , 24 , 24 , 70%);
  z-index:2;
}

.left img {
  width:40px;
  height:40px;
  margin:0px 5px 7px 0px;
}

.top-nav > a {
  color: var(--fg-color);
  font-size: 1.2rem;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  border:none;
  padding:4px 8px;
  border-radius: 50px;
  font-weight: bold;
}

.top-nav a:hover {
  background-color: var(--yellow);
  color: var(--bg-color);
}

.top-nav > a:not(:last-child) {
  margin-right: 2rem;
}

.search {
  background-color: var(--bg-color);
  border: 2px solid var(--fg-color);
  border-radius: 10px;
  height: 35px;
  outline: 0;
  color: var(--fg-color);
  padding: 0px 10px;
  font-size: 1.2rem;
  transition:all ease-in-out 0.3s;
}

.search:focus {
  border: 2px solid var(--yellow);
  outline: var(--yellow);
}

.cards {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card:not(:last-child) {
  margin-right: 1rem;
}

.card {
  height: 300px;
  width: 200px;
  position: relative;
  border-radius: 0.25rem;
  flex-shrink: 0;
}

.card__rating {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--bg-color);
  padding: 0.25rem 0.5rem;
  opacity: 0.75;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.card__rating::before {
  content: 'â­';
  margin-right: 2.5px;
  margin-left: -5px;
}

.card__title {
  position: absolute;
  bottom: -5px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: small;
}

.card__title > p {
  background-color: var(--bg-color);
  padding: 0.25rem 0.5rem;
  opacity: 0.75;
  border-radius: 0.5rem;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
