/* Theme */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bg-color: #181818;
  --fg-color: #f2f2f2;
  --yellow: #f8b91a;
}

/* Base Styles */

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  padding: 1rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  position: relative;
  font-size: 1.5rem;
}

h2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 15px;
  width: 6rem;
  border-bottom: 3px solid var(--yellow);
  border-radius: 5px;
}

.top-nav > a {
  color: var(--fg-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.top-nav > a:not(:last-child) {
  margin-right: 2rem;
}

.cards {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

media-poster:not(:last-child) {
  margin-right: 0.5rem;
}

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
