.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  font-size: 3rem;
  font-variant: small-caps;
}

.nav-menu {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-menu a {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--fg-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 150ms;
}

.nav-menu .current,
.nav-menu a:hover {
  background-color: var(--yellow);
  color: var(--bg-color);
}

@media screen and (min-width: 425px) {
  .logo {
    font-size: 4rem;
  }

  .nav-menu {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .nav-menu a {
    font-size: 1.5rem;
  }
}
