body {
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.banner {
  font-family: 'Fascinate Inline', cursive;
  font-size: 80px;
  margin: 0;
}

#search-form {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

#search-bar {
  border-radius: 20px;
  outline-style: none;
  background-color: white;
  border-color: ghostwhite;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
  margin-bottom: 10px
}

#search-categories {
  display: inline-block;
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-result {
  margin: 5px;
  list-style-type: none;
  /* Add shadows to create the "card" effect */
  border-radius: 10px; /* 5px rounded corners */
  display: flex;
  cursor: pointer;
}

.search-result img {
  border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.search-result img:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#search-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
}

#search-pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

#search-pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

#search-pagination a:hover:not(.active) {
  background-color: #ddd;
}