@import "minireset.min.css";
@import "animate.min.css";

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5f5;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
}

.container {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
  align-items: center;
}

footer {
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

.logo {
  width: 6rem;
  height: 6rem;
}

.banner {
  font-family: "Fascinate Inline", cursive;
  font-size: 4rem;
  margin: 0;
}

main {
  flex-grow: 1;
}

.search-form-wrapper {
  margin: 15px 0;
}

#search-bar {
  border-radius: 20px 0 0 20px;
  border: none;
  flex: 1;
  padding: 5px 15px;
  background-color: #f5f5f5;
}

#search-categories {
  display: inline-block;
}

.search {
  max-width: 700px;
  margin: 0 auto;
}

.search-container {
  border-radius: 20px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  border: 1px solid black;
  max-width: 400px;
  margin: 0 auto;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  padding: 1px 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

input[type="radio"] + label:hover {
  background-color: #2f4f4f;
  color: #f8f8ff;
}

input[type="radio"] + label:last-child {
  margin-right: 10px;
  margin-left: 5px;
}

input[type="radio"]:checked + label {
  background: #000;
  color: #f8f8ff;
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-result {
  margin: 3px;
}

.search-result:hover {
  box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.6);
}

.search-image {
  height: 100%;
  width: 100px;
  border-radius: 5px;
}

/* Card info styles */
.info {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  transition: 0.3s;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  bottom: -30%;
  display: none;
}

.info > span {
  display: block;
}

.peek {
  bottom: 0;
}

#search-pagination {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#search-pagination a {
  color: #000;
  cursor: pointer;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
}

#search-pagination a.active {
  background-color: #4caf50;
  border: 1px solid #4caf50;
}

#search-pagination a:hover {
  background-color: hsl(120, 82%, 45%);
}

#search-pagination a:hover:not(.active) {
  background-color: #ddd;
}

.close-btn {
  display: flex;
}

.close-btn {
  color: #fff;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.close-btn-dark {
  color: #888;
}

.close-btn:hover,
.close-btnfocus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.close-btn:active {
  opacity: 0.5;
}

#media-dialog {
  display: none;
  background-color: #f5f5f5;
  border: 2px solid black;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
}

#media-close {
  text-shadow: 2px 2px 8px #000;
}

.title-status {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title-container {
  display: flex;
}

#media-title {
  /*background: #000;*/
  /*color: #FFF;*/
  /*text-align: center;*/
  /*padding: 10px 0;*/
  font-size: 20px;
  margin: 0;
  font-family: Oswald, sans-serif;
  font-weight: bold;
}

#media-rating {
  margin: 5px 0 0 15px;
}

/* #media-status {

} */

#media-header {
  position: relative;
}

#media-backdrop {
  width: 100%;
}

h2 {
  margin: 10px 0;
  font-family: Oswald, sans-serif;
  font-size: 20px;
}

h3 {
  margin: 5px 0;
  font-size: 15px;
}

#media-genres {
  margin: 10px 0;
  display: flex;
}

.genre-header {
  margin-right: 3px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
}

.genre {
  /*background: darkgrey;*/
  /*color: #FFF;*/
  list-style-type: none;
  padding: 4px 7px;
  margin: 3px;
  border-radius: 7px;
  font-size: 11px;
  border: solid #000 1px;
}

p {
  margin: 0;
  font-size: 14px;
}

#stream-header {
  text-align: right;
}

#media-stream {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

.stream-icons {
  display: flex;
  justify-content: flex-end;
}

.stream-icon {
  font-size: 40px;
  margin-right: 10px;
}

#media-text {
  padding: 15px 15px 0;
}

#stream-iframe {
  width: 100%;
  height: 100%;
}

.stream-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  background: #f5f5f5;
  width: 100%;
  transition: height 1s;
  display: none;
}

.stream-active {
  height: 100vh;
}

.stream-disable-transition {
  transition: height 0s;
}

.stream-btn {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #080;
  border: solid #000 2px;
  font-family: Raleway;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
}

.stream-btn:hover {
  box-shadow: -4px 4px 12px 0px #969696;
  padding: 6px 10px;
  margin-top: -4px;
}

.stream-btn:active {
  background: #000;
  color: #fff;
}

.stream-btn i {
  padding: 2px 0px 2px 5px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.trailer-btn {
  background-color: #800;
  margin-right: 5px;
  text-decoration: none;
}

#select-season,
#select-episode {
  margin: 3px 0 3px 3px;
  border-radius: 7px;
  font-size: 14px;
  border: solid #000 1px;
  padding: 4px 8px;
}

#media-select-container {
  margin: 0 5px 0 3px;
  margin-top: -10px;
  margin-bottom: 15px;
}

#media-select {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#stream-episode {
  margin-left: 3px;
}

#select-error {
  margin: 5px 0 10px 0;
  float: right;
  color: #800;
}

.animated.delay-half {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

@media (min-width: 565px) {
  .banner {
    font-size: 6rem;
  }

  .logo {
    width: 8rem;
    height: 8rem;
  }

  .search-container {
    max-width: 550px;
  }

  #search-bar {
    padding: 10px 15px;
  }

  .search-image {
    width: 128px;
  }

  #search-bar {
    font-size: 1.4rem;
  }

  input[type="radio"] + label {
    font-size: 1.5rem;
  }
}
