body {
  background-color: #f5f5f5;
  font-family: 'Raleway', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

footer {
  width: 50%;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

.logo {
  width: 100px;
  height: 100px;
}

.banner {
  font-family: 'Fascinate Inline', cursive;
  font-size: 80px;
  margin: 0;
}

@media only screen and (max-width: 695px) {
  .logo {
    width: 85px;
    height: 85px;
  }

  .banner {
    font-size: 65px;
  }

  .search-image {
    width: 150px;
    height: 225px;
  }

  .info {
    display: none;
  }
}

@media only screen and (max-width: 545px) {
  .logo {
    width: 70px;
    height: 70px;
  }

  .banner {
    font-size: 60px;
  }

  .search-image {
    width: 130px;
    height: 195px;
  }
}

@media only screen and (max-width: 485px) {
  .logo {
    width: 60px;
    height: 60px;
  }

  .banner {
    font-size: 50px;
  }

  .search-image {
    width: 110px;
    height: 165px;
  }
}

#search-form {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

@media only screen and (max-width: 440px) {
  .search-form-wrapper {
    display: flex;
    justify-content: center;
  }

  #search-form {
    min-width: 320px;
  }

  .search-image {
    width: 100px;
    height: 150px;
  }
}

#search-bar {
  border-radius: 20px 0 0 20px;
  outline-style: none;
  background-color: #fff;
  border: none;
  border-right: groove #f8f8ff 3px;
  width: 100%;
  font-size: 20px;
  padding: 5px 5px 5px 15px;
  flex: 1;
}

#search-categories {
  display: inline-block;
}

.search-container {
  border-radius: 20px;
  background-color: #fff;
  border: inset #f8f8ff 3px;
  display: flex;
  /*justify-content: stretch;*/
  align-items: stretch;
  margin-bottom: 10px;
  overflow: hidden;
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  padding: 5px;
  flex: 0 0 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type='radio'] + label:hover {
  background-color: #888;
}

input[type='radio'] + label:last-child {
  border-radius: 0 20px 20px 0;
  padding-right: 10px;
}

input[type='radio']:checked + label {
  background: #000;
  color: #f8f8ff;
}

input[type='radio']:checked + label:hover {
  background-color: #888;
}

input[type='radio']:checked + label:active {
  background-color: darkgrey;
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 16px;
}

.search-result {
  margin: 8px;
  list-style-type: none;
  /* Add shadows to create the "card" effect */
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: #000;
  transition: 0.3s;
}

.search-result:hover {
  box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.6);
}

/* .search-result img {
  border-radius: 5px 5px 0 0;
} */

/* On mouse-over, add a deeper shadow */
/* .search-result img:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
} */

/* Card info styles */
.info {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0) 100%);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  transition: 0.3s;
  position: absolute;
  width: 100%;
  /*  height: 0;
    bottom: -10px;*/
  padding: 10px 0;
  bottom: -30%;
}

.info > span {
  display: block;
}

.peek {
  /*height: 55px;*/
  bottom: 0;
}

#search-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
}

#search-pagination a {
  color: #000;
  cursor: pointer;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

#search-pagination a.active {
  background-color: #4caf50;
  border: 1px solid #4caf50;
}

#search-pagination a:hover {
  background-color: hsl(120, 82%, 45%);
}

#search-pagination a:hover:not(.active) {
  background-color: #ddd;
}

.close-btn {
  display: flex;
}

.close-btn {
  color: #fff;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.close-btn-dark {
  color: #888;
}

.close-btn:hover,
.close-btnfocus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.close-btn:active {
  opacity: 0.5;
}

#media-dialog {
  background-color: #f5f5f5;
  position: fixed;
  top: 50%;
  bottom: 50%;
  width: 80%;
  padding: 0;
  max-width: 550px;
}

#media-close {
  text-shadow: 2px 2px 8px #000;
}

.title-status {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title-container {
  display: flex;
}

#media-title {
  /*background: #000;*/
  /*color: #FFF;*/
  /*text-align: center;*/
  /*padding: 10px 0;*/
  font-size: 20px;
  margin: 0;
  font-family: Oswald, sans-serif;
  font-weight: bold;
}

#media-rating {
  margin: 5px 0 0 15px;
}

/* #media-status {

} */

#media-header {
  position: relative;
}

#media-backdrop {
  width: 100%;
}

h2 {
  margin: 10px 0;
  font-family: Oswald, sans-serif;
  font-size: 20px;
}

h3 {
  margin: 5px 0;
  font-size: 15px;
}

#media-genres {
  margin: 10px 0;
  display: flex;
}

.genre-header {
  margin-right: 3px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
}

.genre {
  /*background: darkgrey;*/
  /*color: #FFF;*/
  list-style-type: none;
  padding: 4px 7px;
  margin: 3px;
  border-radius: 7px;
  font-size: 11px;
  border: solid #000 1px;
}

p {
  margin: 0;
  font-size: 14px;
}

#stream-header {
  text-align: right;
}

#media-stream {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

.stream-icons {
  display: flex;
  justify-content: flex-end;
}

.stream-icon {
  font-size: 40px;
  margin-right: 10px;
}

#media-text {
  padding: 15px 15px 0;
}

#stream-iframe {
  width: 100%;
  height: 100%;
}

.stream-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  background: #f5f5f5;
  width: 100%;
  transition: height 1s;
}

.stream-active {
  height: 100vh;
}

.stream-disable-transition {
  transition: height 0s;
}

.stream-btn {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #080;
  border: solid #000 2px;
  font-family: Raleway;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  transition: 0.2s;
}

.stream-btn:hover {
  box-shadow: -4px 4px 12px 0px #969696;
  padding: 6px 10px;
  margin-top: -4px;
}

.stream-btn:active {
  background: #000;
  color: #fff;
}

.stream-btn i {
  padding: 2px 0px 2px 5px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.trailer-btn {
  background-color: #800;
  margin-right: 5px;
}
