body {
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.banner {
  font-family: 'Fascinate Inline', cursive;
  font-size: 80px;
  margin: 0;
}

#search-form {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

#search-bar {
  border-radius: 20px 0 0 20px;
  outline-style: none;
  background-color: white;
  border: none;
  border-right: groove ghostwhite 3px;
  /*width: 100%;*/
  font-size: 20px;
  padding: 5px 5px 5px 15px;
  flex: 1;
}

#search-categories {
  display: inline-block;
}

.search-container {
  border-radius: 20px;
  background-color: white;
  border: inset ghostwhite 3px;
  display: flex;
  /*justify-content: stretch;*/
  align-items: stretch;
  margin-bottom: 10px;
  overflow: hidden;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
  padding: 5px;
  flex: 0 0 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="radio"] + label:hover {
    background-color: grey;
}

input[type="radio"] + label:last-child {
  border-radius: 0 20px 20px 0;
  padding-right: 10px;
}

input[type="radio"]:checked + label {
  background: black;
  color: ghostwhite;
}

input[type="radio"]:checked + label:hover {
    background-color: grey;
}

input[type="radio"]:checked + label:active {
    background-color: darkgrey;
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 16px;
}

.search-result {
  margin: 8px;
  list-style-type: none;
  /* Add shadows to create the "card" effect */
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  height: 300px;
  position: relative;
  background: black;
  transition: .3s;
}

.search-result:hover {
  box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.6);
}

.search-result img {
  /*border-radius: 5px 5px 0 0;*/
}

/* On mouse-over, add a deeper shadow */
.search-result img:hover {
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);*/
}

/* Card info styles */
.info {
  background: linear-gradient(to top, rgba(0, 0, 0, .9) 0%,
                                      rgba(0, 0, 0, .8) 40%,
                                      rgba(0, 0, 0, .5) 80%,
                                      rgba(0, 0, 0, .0) 100%);
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  transition: .3s;
  position: absolute;
  width: 100%;
  /*  height: 0;
    bottom: -10px;*/
  padding: 10px 0;
  bottom: -30%;
}

.info > span {
  display: block;
}

.peek {
  /*height: 55px;*/
  bottom: 0;
}

#search-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
}

#search-pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

#search-pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

#search-pagination a:hover:not(.active) {
  background-color: #ddd;
}

.close-btn {
  display: flex;
}

.close-btn {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.close-btn-dark {
  color: grey;
}

.close-btn:hover,
.close-btnfocus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.close-btn:active {
  opacity: .5;
}

#media-dialog {
  position: fixed;
  top: 50%;
  bottom: 50%;
  width: 80%;
  padding: 0;
  max-width: 550px;
}

.title-status {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#media-title {
  /*background: black;*/
  /*color: white;*/
  /*text-align: center;*/
  /*padding: 10px 0;*/
  font-size: 20px;
  margin: 0;
  font-family: Oswald, sans-serif;
}

#media-status {

}

#media-header {
  position: relative;
}

#media-backdrop {
  width: 100%;
}

h2 {
  margin: 10px 0;
  font-family: Oswald, sans-serif;
  font-size: 20px;
}

h3 {
  margin: 5px 0;
  font-size: 15px;
}

#media-genres {
  padding-top: 10px;
  display: flex;
}

.genre-header {
  margin-right: 3px;
}

.genres {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.genre {
  /*background: darkgrey;*/
  /*color: white;*/
  list-style-type: none;
  padding: 4px 7px;
  margin: 0 3px;
  border-radius: 7px;
  font-size: 11px;
  border: solid black 1px;
}

p {
  margin: 0;
  font-size: 14px;
}

#stream-header {
  text-align: right;
}

#media-stream {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

.stream-icons {
  display: flex;
  justify-content: flex-end;
}

.stream-icon {
  font-size: 40px;
  margin-right: 10px;
}

#media-text {
  padding: 15px 15px 0;
}

#stream-iframe {
  width: 100%;
  height: 100%;
}

.stream-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  background: whitesmoke;
  width: 100%;
  transition: height 1s;
}

.stream-active {
  height: 100vh;
}

.stream-disable-transition {
  transition: height 0s;
}

#stream-btn {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  border: solid black 2px;
  font-family: Raleway;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  transition: .2s;
}

#stream-btn:hover {
  box-shadow: -4px 4px 12px 0px #969696;
  padding: 6px 10px;
  margin-top: -4px;
}

#stream-btn:active {
  background: black;
  color: white;
}

#stream-btn i{
  padding: 2px 0px 2px 5px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
