.result-dialog {
  background: @dialog-bg;
  top: 10%;
  width: 90%;
  height: 80%;
  padding: 5px;
  border-radius: 10px;

  &::-webkit-backdrop {
    background: rgba(0,0,0,0.75);
  }

  &::backdrop {
    background: rgba(0,0,0,0.75);
  }

  .dialog-x {
    position: absolute;
    top: 1%;
    right: 2%;
    color: @main-colour;
    font-size: 3rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px;
    z-index: 1;

    &:hover {
      font-weight: bold;
      cursor: pointer;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }

    @media @desktop {
      right: 1.25%;
      font-size: 4rem;
    }
  }

  .dialog-iframe {
    opacity: 0.8;
  }
}
