.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;

  .header-title {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  .site-search {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .search-input {
      -ms-flex-item-align: center;
      background-color: #aed6d1;
      color: #55706d;
      border-radius: 40px;
      padding: 10px 30px;
      width: 70%;
      border: 5px solid transparent;
      font-weight: bold;
      -webkit-transition: all 0.5s, border 0.25s 0.5s, -webkit-box-shadow 0.10s 0.5s;
      transition: all 0.5s, border 0.25s 0.5s, -webkit-box-shadow 0.10s 0.5s;
      transition: all 0.5s, border 0.25s 0.5s, box-shadow 0.10s 0.5s;
      transition: all 0.5s, border 0.25s 0.5s, box-shadow 0.10s 0.5s, -webkit-box-shadow 0.10s 0.5s;
      outline: none;

      &::-webkit-input-placeholder {
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }

      &:-ms-input-placeholder {
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }

      &::-ms-input-placeholder {
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }

      &::placeholder {
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }

      &:focus {
        background: #55706d;
        color: #ffe8a3;
        width: 85%;
        border: 10px solid #8dccc4;
        -webkit-box-shadow: 3px 3px 2px rgba(0,0,0, 0.15);
                box-shadow: 3px 3px 2px rgba(0,0,0, 0.15);
      }

      &:focus::-webkit-input-placeholder {
        color: #ffe8a3;
      }

      &:focus:-ms-input-placeholder {
        color: #ffe8a3;
      }

      &:focus::-ms-input-placeholder {
        color: #ffe8a3;
      }

      &:focus::placeholder {
        color: #ffe8a3;
      }
    }
  }
}
